{% extends "homepage.html" %}

{% block title %}
    Fléshi - Feed
{% endblock %}

{% block body %}
    {% include "navbar.html" %}
    <h1 style="color: gray; font-weight: bold; overflow-y:hidden;">Feed</h1>
    <div class="container" style="">
        {% for photo in photos %}
            <div style="display:flex; justify-content: center; ">
                <a class="shadow-lg " style=" padding: 30px 30px 90px 30px; background: #EFECE2; margin-bottom: 30px; border-radius: 2rem" href="{{ url_for('profile', user_id=photo.user_id) }}">
                    <img class="image-feed" src="{{url_for('static',filename='posts_photos/'~ photo.file_name)}}" alt="Imagem defult">
                </a>
            </div>
        {% endfor %}

    </div>

{% endblock %}
