{% extends "homepage.html" %}

{% block title %}
    Fléshi - Feed
{% endblock %}

{% block body %}
    {% include "navbar.html" %}
    <h1 style="color: gray; font-weight: bold;">Feed</h1>
    <div class="container grid" style="background-color: #e6d7ff">
        {% for photo in photos %}
                <a href="{{ url_for('profile', user_id=photo.user_id) }}">
                    <img src="{{url_for('static',filename='posts_photos/'~ photo.file_name)}}" alt="Imagem defult">
                </a>
        {% endfor %}
    </div>

{% endblock %}
