.border-indigo-400 {
    border-color: #a370f7 !important;
}
.background-btn-purple{
    background: #59359a !important;
}


* {
      padding:0px;
      margin:0px;
      box-sizing: border-box;
      overflow-x: hidden;

      max-width: 100Vw;
}

.loginBlock{
    width: 50%;
    height: 100Vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h1{
    overflow-y: hidden;
    text-align: center;
}
.form_login {
    justify-content: center;
    box-shadow: 0px 5px 15px 4px rgba(255, 255, 255, 0.5) !important;

}
.box_input{
    border: 1px black solid;

}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 25px;
    justify-content: center;
    padding: 25px;
}


.image-feed {
    width: 100%;
    height: auto;
    max-height: 40rem;
    object-fit: contain;
    display: block;
}


img {
    width: 100%;
    height: auto;
}
body{

background: #fff9ff;
}

.div-a a{
    width:100%;

}